In [18]:
import pandas as pd 
import numpy as np

In [19]:
y2k = pd.read_csv(r'Loading_Cleaning/Data/Datafinal_tmdb_data_2000.csv.gz')
y2k = y2k.drop(labels=0, axis=0)
y2k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1203 entries, 1 to 1203
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1203 non-null   object
 1   adult                  1203 non-null   float64
 2   backdrop_path          630 non-null    object
 3   belongs_to_collection  110 non-null    object
 4   budget                 1203 non-null   float64
 5   genres                 1203 non-null   object
 6   homepage               66 non-null     object
 7   id                     1203 non-null   float64
 8   original_language      1203 non-null   object
 9   original_title         1203 non-null   object
 10  overview               1179 non-null   object
 11  popularity             1203 non-null   float64
 12  poster_path            1062 non-null   object
 13  production_companies   1203 non-null   object
 14  production_countries   1203 non-null   object
 15  release_date           1191 non-null   object
 16  revenue                1203 non-null   float64
 17  runtime                1203 non-null   float64
 18  spoken_languages       1203 non-null   object
 19  status                 1203 non-null   object
 20  tagline                511 non-null    object
 21  title                  1203 non-null   object
 22  video                  1203 non-null   float64
 23  vote_average           1203 non-null   float64
 24  vote_count             1203 non-null   float64
 25  certification          372 non-null    object
dtypes: float64(9), object(17)
memory usage: 244.5+ KB

In [20]:
y2k1 = pd.read_csv(r'Loading_Cleaning/Data/Datafinal_tmdb_data_2001.csv.gz')
y2k1 = y2k1.drop(labels=0, axis=0)
y2k1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1285 entries, 1 to 1285
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1285 non-null   object
 1   adult                  1285 non-null   float64
 2   backdrop_path          650 non-null    object
 3   belongs_to_collection  86 non-null     object
 4   budget                 1285 non-null   float64
 5   genres                 1285 non-null   object
 6   homepage               108 non-null    object
 7   id                     1285 non-null   float64
 8   original_language      1285 non-null   object
 9   original_title         1285 non-null   object
 10  overview               1257 non-null   object
 11  popularity             1285 non-null   float64
 12  poster_path            1129 non-null   object
 13  production_companies   1285 non-null   object
 14  production_countries   1285 non-null   object
 15  release_date           1277 non-null   object
 16  revenue                1285 non-null   float64
 17  runtime                1285 non-null   float64
 18  spoken_languages       1285 non-null   object
 19  status                 1285 non-null   object
 20  tagline                527 non-null    object
 21  title                  1285 non-null   object
 22  video                  1285 non-null   float64
 23  vote_average           1285 non-null   float64
 24  vote_count             1285 non-null   float64
 25  certification          418 non-null    object
dtypes: float64(9), object(17)
memory usage: 261.1+ KB

In [21]:
combined_years = pd.concat([y2k,y2k1])
combined_years.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,0.000,0.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.107,1932.0,PG
5,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.900,46.0,R

In [22]:
combined_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2488 entries, 1 to 1285
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2488 non-null   object
 1   adult                  2488 non-null   float64
 2   backdrop_path          1280 non-null   object
 3   belongs_to_collection  196 non-null    object
 4   budget                 2488 non-null   float64
 5   genres                 2488 non-null   object
 6   homepage               174 non-null    object
 7   id                     2488 non-null   float64
 8   original_language      2488 non-null   object
 9   original_title         2488 non-null   object
 10  overview               2436 non-null   object
 11  popularity             2488 non-null   float64
 12  poster_path            2191 non-null   object
 13  production_companies   2488 non-null   object
 14  production_countries   2488 non-null   object
 15  release_date           2468 non-null   object
 16  revenue                2488 non-null   float64
 17  runtime                2488 non-null   float64
 18  spoken_languages       2488 non-null   object
 19  status                 2488 non-null   object
 20  tagline                1038 non-null   object
 21  title                  2488 non-null   object
 22  video                  2488 non-null   float64
 23  vote_average           2488 non-null   float64
 24  vote_count             2488 non-null   float64
 25  certification          790 non-null    object
dtypes: float64(9), object(17)
memory usage: 524.8+ KB

- How many movies had at least some valid financial information?
    - 619 movies had valid financial info in budget and revenue columns
    - 74 movies had valid financial info after dropping movies with 0's for budget AND revenue from the remaining visualizations.

In [16]:
combined_years = combined_years[(combined_years['revenue']>0.0) | (combined_years['budget']>0.0)]
combined_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 619 entries, 1 to 1266
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                619 non-null    object
 1   adult                  619 non-null    float64
 2   backdrop_path          516 non-null    object
 3   belongs_to_collection  102 non-null    object
 4   budget                 619 non-null    float64
 5   genres                 619 non-null    object
 6   homepage               80 non-null     object
 7   id                     619 non-null    float64
 8   original_language      619 non-null    object
 9   original_title         619 non-null    object
 10  overview               616 non-null    object
 11  popularity             619 non-null    float64
 12  poster_path            598 non-null    object
 13  production_companies   619 non-null    object
 14  production_countries   619 non-null    object
 15  release_date           619 non-null    object
 16  revenue                619 non-null    float64
 17  runtime                619 non-null    float64
 18  spoken_languages       619 non-null    object
 19  status                 619 non-null    object
 20  tagline                475 non-null    object
 21  title                  619 non-null    object
 22  video                  619 non-null    float64
 23  vote_average           619 non-null    float64
 24  vote_count             619 non-null    float64
 25  certification          423 non-null    object
dtypes: float64(9), object(17)
memory usage: 130.6+ KB

In [23]:
combined_years.drop(combined_years.loc[combined_years['revenue'] == 0.0].index, inplace=True)
combined_years.drop(combined_years.loc[combined_years['budget'] == 0.0].index, inplace=True)
combined_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74 entries, 11 to 1243
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                74 non-null     object
 1   adult                  74 non-null     float64
 2   backdrop_path          72 non-null     object
 3   belongs_to_collection  14 non-null     object
 4   budget                 74 non-null     float64
 5   genres                 74 non-null     object
 6   homepage               10 non-null     object
 7   id                     74 non-null     float64
 8   original_language      74 non-null     object
 9   original_title         74 non-null     object
 10  overview               74 non-null     object
 11  popularity             74 non-null     float64
 12  poster_path            74 non-null     object
 13  production_companies   74 non-null     object
 14  production_countries   74 non-null     object
 15  release_date           74 non-null     object
 16  revenue                74 non-null     float64
 17  runtime                74 non-null     float64
 18  spoken_languages       74 non-null     object
 19  status                 74 non-null     object
 20  tagline                65 non-null     object
 21  title                  74 non-null     object
 22  video                  74 non-null     float64
 23  vote_average           74 non-null     float64
 24  vote_count             74 non-null     float64
 25  certification          64 non-null     object
dtypes: float64(9), object(17)
memory usage: 15.6+ KB

- How many movies are there in each of the certification categories (G/PG/PG-13/R)?

In [25]:
combined_years['certification'].value_counts()

R        34
PG-13    21
PG        8
NR        1
Name: certification, dtype: int64

- What is the average revenue per certification category?

In [28]:
combined_years.groupby('certification')['revenue'].mean()

certification
NR          268,117.000
PG       86,196,171.250
PG-13   121,860,410.667
R        46,498,873.735
Name: revenue, dtype: float64

- What is the average budget per certification category?

In [29]:
combined_years.groupby('certification')['budget'].mean()

certification
NR       1,500,000.000
PG      43,525,000.000
PG-13   58,100,000.000
R       29,512,352.941
Name: budget, dtype: float64

In [31]:
combined_years.to_csv('Loading_Cleaning/Data/tmdb_results_combined.csv.gz',compression= "gzip", index= False)