In [11]:
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [12]:
import pandas as pd
import numpy as np

In [13]:
ratings = pd.read_csv(ratings_url,sep='\t', low_memory=False)

In [14]:
ratings.replace({'\\N':np.nan}inplace=True)

            tconst  averageRating  numVotes
0        tt0000001            5.7      1901
1        tt0000002            5.9       254
2        tt0000003            6.5      1695
3        tt0000004            5.7       166
4        tt0000005            6.2      2513
...            ...            ...       ...
1257043  tt9916690            6.5         6
1257044  tt9916720            5.2       239
1257045  tt9916730            8.4         6
1257046  tt9916766            6.8        21
1257047  tt9916778            7.2        35

[1257048 rows x 3 columns]

In [15]:
ratings.to_csv("Data/title_ratings.csv.gz",compression='gzip',index=False)

In [ ]:
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)
ratings.head()